<form name="form4" method="post" action="/PubAction.aspx">  
<table width="100%" height="80" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC" style="line-height:30px;" class="twtable">
    <tr>
      <td width="151" height="27" bgcolor="#FFFFFF" align="right">留言标题：</td>
      <td bgcolor="#FFFFFF"><input name="PubTitle" type="text" id="PubTitle" size="50">{PubCode/}
      <input type="hidden" name="PubID" id="PubID" value="4"></td>
      <input type="hidden" name="PubContentid" id="PubContentid" value="{PubContentid/}"></td>
    </tr>
     <tr>
      <td width="151"  bgcolor="#FFFFFF" align="right">问题分类：</td>
      <td bgcolor="#FFFFFF"> 
     <table>
	 <tr>
<td><select id="ClassLevel1" name="ClassLevel1" style="WIDTH: 200px;height:150px;"  size="8" onChange="putd()">
   {ZL.Label id="添加问题分类" Cate="2" pid="0" /}
      </select></td>
<td>	<strong class="jiantou">→</strong></td>
<td><SELECT id="ClassLevel2" style="WIDTH: 200px;height:150px;" size="8"  name="ClassLevel2">
			{ZL.Label id="添加问题分类" Cate="2" pid="{$GetRequest(ClassLevel1)$}" /}		</SELECT> </td>
	 </tr>
	 </table>  	
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF" align="right">问题说明：</td>
      <td bgcolor="#FFFFFF"><textarea name="PubContent" cols="50" rows="10" id="PubContent"></textarea></td>
    </tr>
     <tr>
      <td colspan="2" valign="middle" align="center" bgcolor="#FFFFFF" style="text-align:center; height:35px;">
       <input type="submit" name="button2" id="button3" value="提交问题" ><input type="reset" name="button" id="button1" value="重 置"></td>
    </tr>
  </table>
</form>
<form name="formL" action="/columnlist.aspx?nodeid=119" method="get" target="_self">
<input type="hidden" name="nodeid" value="119">
<input type="hidden" name="ques" value="{$GetRequest(ques)$}">
<input type="hidden" name="ClassLevel1" id="CL1" value="{$GetRequest(ClassLevel1)$}">
</form>
<SCRIPT language=javascript> 
 document.getElementById("ClassLevel1").value='{$GetRequest(ClassLevel1)$}';
function putd(){
	document.getElementById("CL1").value=document.getElementById("ClassLevel1").value;
formL.submit();
	}
 
 function subm(){
	 if(document.getElementById("ClassLevel1").value==''&&document.getElementById("ClassLevel2").value==''){
		document.write("请选择分类！");
		 } 
	 else{
		 form1.submit();
		 }
	 }
 
</SCRIPT>