<form name="form5" method="post" action="/PubAction.aspx">
  <table width="100%" height="80" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
    <tr>
      <td width="151" height="27" bgcolor="#FFFFFF">评论标题：</td>
      <td bgcolor="#FFFFFF"><input name="PubTitle" type="text" id="PubTitle" size="50">{PubCode/}
      <input type="hidden" name="PubID" id="PubID" value="5">
      <input type="hidden" name="PubContentid" id="PubContentid" value="{PubContentid/}"></td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF">评论内容：</td>
      <td bgcolor="#FFFFFF"><textarea name="PubContent" cols="50" rows="10" id="PubContent"></textarea></td>
    </tr>
     <tr>
      <td colspan="2" align="center" bgcolor="#FFFFFF">
       <input type="submit" name="button2" id="button2" value="提交"><input type="reset" name="button" id="button" value="重置"></td>
    </tr>
  </table>
</form>