<form name="form3" method="post" action="/PubAction.aspx">
  <table width="225" border="0" cellpadding="3" cellspacing="1" id="webdc" >
    <tr>
      <th align="left">
你对新版的逐浪门户网哪方面最满意？ 
    </th>
    <tr><td><input name="PubTitle" type="checkbox" id="PubTitle1" value="页面设计"> 页面设计</td> </tr>
<tr><td><input name="PubTitle" type="checkbox" id="PubTitle2" value="网站功能"> 网站功能</td> </tr> 
<tr><td><input name="PubTitle" type="checkbox" id="PubTitle3" value="信息质量"> 信息质量</td>  </tr>
<tr><td><input name="PubTitle" type="checkbox" id="PubTitle4" value="栏目设置"> 栏目设置</td></tr>
     <tr>
      <td >
           <input type="hidden" name="PubID" id="PubID" value="3"> 
      <input type="hidden" name="PubContentid" id="PubContentid" value="{PubContentid/}"> 
       <input type="hidden" name="PubContent"  id="PubContent" value="">
       <input type="submit" name="sub_but" id="sub_but" value="提交"> <a href="#" target="_blank">[查看结果]</a></td>
    </tr>
  </table>
</form>