{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<link href="{$CssDir/}fix.css" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>
<div class="design_top">
<div class="container">
<div class="design_top_l">
<ul class="list-unstyled">
<li><a href="#"><i class="fa fa-qrcode"></i>官方微信</a></li>
<li><a href="#"><i class="fa fa-mobile"></i>手机版</a></li>
<div class="clearfix"></div>
</ul>
</div>
<div class="design_top_r">
<ul class="list-unstyled">
<li><a href="/User/">登录</a></li>
<li><a href="/User/Register.aspx">注册</a></li>
<li><a href="#">机构服务</a></li>
<li><a href="tel:4008888888">官方客服热线：4008-888-888</a></li>
</ul>
</div>
</div>
</div><!--design_top end-->
<div class="container design_login">
<div class="row">
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 design_login_l">
<a href="/"><img src="{$CssDir/}images/logo.png" alt="{$SiteName/}" /></a>
<a href="/User/Login.aspx">项目托管</a>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 design_login_m">
<form method="get" action="/Search/SearchList.apsx" target="_blank">
<div class="input-group">
<input type="text" class="form-control" name="KeyWord" placeholder="请输入关键字...">
<span class="input-group-btn">
<button class="btn btn-default" type="button">搜索</button>
</span>
</div>
</form>
</div>
</div>
</div>
<div style="position:relative;">
<nav class="navbar navbar-default" id="design_nav">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand visible-xs" href="/">{$SiteName/}</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="/">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(1)/}">找设计师</a></li>
<li><a href="{ZL:GetNodeLinkUrl(2)/}">作品图库</a></li>
<li><a href="/User/">个人中心</a></li>
<li><a href="/Index" target="_blank">设计论坛</a></li>
</ul>
<ul class="nav navbar-nav navbar-center">
<li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-weibo fa-stack-1x fa-inverse"></i></span></a></li>
<li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-weixin fa-stack-1x fa-inverse"></i></span></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#"></a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
<div class="evalu_banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item evalu_banner1 active">
<div class="carousel-caption">
<a href="#">立即发表项目<i class="glyphicon glyphicon-play-circle"></i></a>
</div>
</div>
<div class="item evalu_banner2">
<div class="carousel-caption">
<a href="#">立即发表项目<i class="glyphicon glyphicon-play-circle"></i></a>
</div>
</div>
<div class="item evalu_banner3">
<div class="carousel-caption">
<a href="#">立即发表项目<i class="glyphicon glyphicon-play-circle"></i></a>
</div>
</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
<div class="container" style="position:relative;">
<div class="mypeo_comp_l">
<h2>设计院信息</h2>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mypeo_comp_l1">
<img src="{$CssDir/}images/design_case1.jpg">
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mypeo_comp_l2">
<p>我们已经为您服务了412小时您共发布了0次项目</p>
<span>您的积分为：0分</span>
</div>
<h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">北京创新建筑设计院</h3>
<ul class="list-unstyled mypeo_compe">
<li><i class="fa fa-mobile"></i> 手机：2121212<a href="#">修改</a></li>
<li><i class="fa fa-envelope"></i> 邮箱：2121212<a href="#">修改</a></li>
</ul>
<ul class="list-unstyled mypeo_compe1">
<li><a href="#">身份认证（已完成70%）</a></li>
<li><a href="#">我的消息</a><span class="glyphicon glyphicon-envelope"></span></li>
<li><a href="#">账号设置</a><span class="glyphicon glyphicon-envelope"></span></li>
</ul>
</div>
</div>
</div>
<div class="container evalu_new">
<div class="row">
<h3>项目进度</h3>
<div class="deposit_speed">
<ul class="list-unstyled">
<li><a href="#">发布需求</a></li>
<li class="active"><a href="#">推送至设计师</a><span>当前进度</span></li>
<li><a href="#">设计师应标</a></li>
<li><a href="#">确认中标</a></li>
<li><a href="#">项目进行中</a></li>
<li><a href="#">确认付款</a></li>
<li><a href="#">评价</a></li>
</ul>
<h4>设客已将您的项目信息推送给<a href="#">4</a>微设计师，请耐心等待应标！</h4>
</div>
<div class="deposit_speed_r">
<ul class="list-inline">
<li><i class="fa fa-bell"></i></li>
<li><p>应标设计师过少，您可以试试放宽要求或适当增加费用。如果应标的设计师过多不好筛选您可以提高要求哦！</p></li>
<li><a href="#"><button type="button" class="btn btn-primary">需求更改</button></a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="evalu_acom">
<nav class="navbar navbar-default">
<div class="">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">推荐应标设计师</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="#">应标设计师</a></li>
<li><select name="select8" onchange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size="1">
<option selected="">口碑值</option>
<option value="#">口碑值</option>
</select></li>
<li><select name="select8" onchange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size="1">
<option selected="">设计师等级</option>
<option value="#">一级</option>
<option value="#">二级</option>
<option value="#">三级</option>
<option value="#">四级</option>
</select></li>
<li><select name="select8" onchange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size="1">
<option selected="">工作经验</option>
<option value="#">丰富</option>
</select></li>
<li><select name="select8" onchange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size="1">
<option selected="">价格</option>
<option value="#">2元/㎡</option>
<option value="#">4元/㎡</option>
<option value="#">5元/㎡</option>
</select></li>
<li><select name="select8" onchange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size="1">
<option selected="">签单数</option>
<option value="#">月/5单</option>
<option value="#">月/10单</option>
<option value="#">月/15单</option>
</select></li>
<li><select name="select8" onchange="javascript:if(this.options[this.selectedIndex].value) window.open(this.options[this.selectedIndex].value)" size="1">
<option selected="">作品数</option>
<option value="#">2/月</option>
<option value="#">3/月</option>
<option value="#">4/月</option>
</select></li>
</ul>
<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="快速搜索">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
</form>
<ul class="nav navbar-nav navbar-right">
<li>
<a href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</a>
</li>
<li><a href="#">1/100</a></li>
<li>
<a href="#" aria-label="Next">
<span aria-hidden="true">&raquo;</span>
</a>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
</div>
<div class="container">
{ZL.Label id="输出指定项目应标设计师_分页" GeneralID="{$GetRequest(GID)$}" ShowNum="30" /}
</div>


<div class="container evalu_footer hidden">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 evalu_footer_r">
共100条数据
</div>
<nav>
<ul class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pagination">
<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
<li><a href="#">2<span class="sr-only"></span></a></li>
<li><a href="#">3<span class="sr-only">(current)</span></a></li>
<li><a href="#">4<span class="sr-only">(current)</span></a></li>
<li><a href="#">...<span class="sr-only">(current)</span></a></li>
<li><a href="#">10 <span class="sr-only">(current)</span></a></li>
<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</nav>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 evalu_footer_l">
<span class="text">到第</span>
<input class="input J_Input" aria-label="页码输入框" type="number" min="1" max="100" value="2">
<span class="text">页</span>
<span tabindex="0" class="btn J_Submit" role="button">GO</span>
</div>
<div class="clearfix"></div>
</div>
</div>
<div class="design_bottom">
<a href="#">公司简介</a><span>|</span>
<a href="#">招贤纳士</a><span>|</span>
<a href="#">广告服务</a><span>|</span>
<a href="#">银行汇款账号</a><span>|</span>
<a href="#">联系方式</a><span>|</span>
<a href="#">版权声明</a><span>|</span>
<a href="#">法律顾问</a><span>|</span>
<a href="#">合作伙伴</a><span>|</span>
<a href="#">论坛反馈</a>
</div>
<div class="design_copy">{$Copyright/}</div>
</body>
</html>
<script>
//左右滚动效果
var Speed = 3; //速度(毫秒)
var Space = 7; //每次移动(px)
var PageWidth = 400; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();

function GetObj(objName)
{
	if(document.getElementById)
	return eval('document.getElementById("'+objName+'")')
	else
	return eval('document.all.'+objName)
}
function AutoPlay()
{//自动滚动
	clearInterval(AutoPlayObj);
	AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',3000); //间隔时间
}
function ISL_GoUp()
{ //上翻开始
	if(MoveLock) return;
	clearInterval(AutoPlayObj);
	MoveLock = true;
	MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp()
{ //上翻停止
	clearInterval(MoveTimeObj);
	if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0)
	{
		Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
		CompScr();
	}
	else
		MoveLock = false;
	AutoPlay();
}
function ISL_ScrUp()
{ //上翻动作
	if(GetObj('ISL_Cont').scrollLeft <= 0)
	{
		GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth
	}
	GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
	clearInterval(MoveTimeObj);
	if(MoveLock) return;
	clearInterval(AutoPlayObj);
	MoveLock = true;
	ISL_ScrDown();
	MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
	clearInterval(MoveTimeObj);
	if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 )
	{
		Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
		CompScr();
	}
	else
	{
		MoveLock = false;
	}
	AutoPlay();
}
function ISL_ScrDown()
{ //下翻动作
	if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
	GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr()
{
	var num;
	if(Comp == 0){MoveLock = false;return;}
	if(Comp < 0)
	{ //上翻
		if(Comp < -Space)
		{
			Comp += Space;
			num = Space;
		}
		else
		{
			num = -Comp;
			Comp = 0;
		}
		GetObj('ISL_Cont').scrollLeft -= num;
		setTimeout('CompScr()',Speed);
	}
	else
	{ //下翻
		if(Comp > Space)
		{
			Comp -= Space;
			num = Space;
		}
		else
		{
			num = Comp;
			Comp = 0;
		}
		GetObj('ISL_Cont').scrollLeft += num;
		setTimeout('CompScr()',Speed);
	}
}

//触控效果
window.onload=function(){
var home_roll=document.getElementById("home_roll");
var d2=document.getElementById("d2");
var d3=document.getElementById("d3");
home_roll.onmouseover=function(){
d2.style.display="block";
d3.style.display="block";
}
home_roll.onmouseout=function(){
d2.style.display="none";
d3.style.display="none";
}
}


var IO=document.getElementById('design_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
	".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
 if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
var msViewportStyle = document.createElement("style");
msViewportStyle.appendChild(
document.createTextNode(
  "@-ms-viewport{width:auto!important}"
)
);
document.getElementsByTagName("head")[0].
appendChild(msViewportStyle);
}

</script>
