<?xml version="1.0" encoding="utf-8"?>
<!--包含自定义应用程序设置。-->
<appSettings>
  <add key="WebDAL" value="SQLDAL" />
  <add key="Version" value="X3.020151107" />
  <add key="Installed" value="true" />
  <add key="ShowedAD" value="true" />
  <add key="PlugDataBase" value="false" />
  <add key="TraditionalChinese" value="false" />
  <add key="DZSource" value="localhost" />
  <add key="DZCatalog" value="discuz" />
  <add key="DZUser" value="root" />
  <add key="tablepre" value="cdb_" />
  <add key="DZPassword" value="root" />
  <add key="DZPort" value="3306" />
  <add key="OAconfig" value="0" />
  <add key="UC_API" value="http://127.0.0.1:8080/bbs/uc_server" />
  <add key="UC_IP" value="127.0.0.1" />
  <add key="UC_KEY" value="z3Z8vbZ5e9mbCb0eQdk880Gch26e7b40c7W2WcT2Y02fo6m6v5V4S4i2a2L6a3M5" />
  <add key="UC_CHARSET" value="latin1" />
  <add key="UC_APPID" value="1" />
  <add key="UC_Money" value="extcredits2" />
  <add key="IPServices.IpAddressSearchWebService" value="http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx" />
  <add key="SMSMessage1.SDKService" value="http://sdk229ws.eucp.b2m.cn:8080/sdk/SDKService" />
</appSettings>