<?xml version="1.0"?>
<PlatAPI>
  <SinaKey>1061254323</SinaKey>
  <SinaSecret>f09a54b93e04f31fe88dfe6250616a0c</SinaSecret>
  <SinaCallBack>http://www.1th.cn/Plat/Common/GetViBoToken.aspx?s=sina</SinaCallBack>
  <QQKey>101187045</QQKey>
  <QQCallBack>http://www.1th.cn/Plat/Test/APPBack.aspx</QQCallBack>
  <!--<QQCallBack>http://www.1th.cn/Plat/Common/GetViBoToken.aspx?s=qq</QQCallBack>-->
</PlatAPI>
