{ZL.Source id="节点栏目信息数据源"/}{ZL.Source id="设计师数据源标签地址栏传参"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设计师作品列表_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="设计师数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>
{ZL.Label id="全站头部"/}
<div class="user_banner">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user_banner_l">
<img src='{ZL.Label id="根据会员名抽取用户头像" Uname="{SField sid="设计师数据源标签地址栏传参" FD="Inputer" page="0"/}" /}' onerror="this.src='/Images/userface/noface.gif'" alt='{SField sid="设计师数据源标签地址栏传参" FD="Title" page="0"/}' />
</div>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 user_banner_m">
<h1>{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="设计师数据源标签地址栏传参" FD="NodeID" page="0"/}" /}-{SField sid="设计师数据源标签地址栏传参" FD="Title" page="0"/}</h1>
<p>{SField sid="设计师数据源标签地址栏传参" FD="synopsis" page="0"/}</p>
<div class="option_btn">
<a href='/User/Content/AddToFav.aspx?itemid={SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/}&Url=/Item/{SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/}.aspx&title={SField sid="设计师数据源标签地址栏传参" FD="Title" page="0"/}&type=1' class="btn btn-sm btn-success"><i class="fa fa-plus"></i> 关注</a>
<a href="#" class="btn btn-sm btn-danger">立即预约</a>
<a href="/User/Content/EditDesigners.aspx?GeneralID={SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/}" class="btn btn-sm btn-info">修改资料</a>
</div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 user_code text-center">
<img src="/Common/Common.ashx?url={$SiteURL/}/Item/{SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/}.aspx" width="150px" alt='{SField sid="设计师数据源标签地址栏传参" FD="Title" page="0"/}' />
<br>扫码分享本页
</div>
</div>
</div>
</div>
<div class="container">
<div class="user_site">
<ul class="list-inline">
<li><span>该设计师已在设客上成交18个项目</span></li>
<li><strong>147</strong> <i class="fa fa-dot-circle-o">币</i></li>
<li><img src="{$CssDir/}images/coin1.jpg" alt="主页" /></li>
<li><img src="{$CssDir/}images/coin2.jpg" alt="主页" /></li>
</ul>
</div><!--user_site end-->
<div class="user_main">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user_main_l">
<ul class="nav nav-tabs" role="tablist">
<li><a href="{ZL:GetInfoUrl({SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/})/}">个人介绍</a></li>
<li class="active"><a href="/Class_19/NodePage.aspx?gid={SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/}">真实作品</a></li>
<li><a href="#messages">服务内容</a></li>
<li><a href="/Class_19/NodeNews.aspx?gid={SField sid="设计师数据源标签地址栏传参" FD="GeneralID" page="0"/}">用户评价</a></li>
</ul> 
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="profile">
{ZL.Label id="输出指定用户的作品列表_分页" GID="{$GetRequest(GID)$}" TitleNum="26" ShowNum="12" ClassName="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding5" NodeID="2" /}
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 user_main_r"> 
<div class="user_eval">
<ul class="list-unstyled"> 
<li class="col-xs-5 padding0">诚信积分：100</li><li class="col-xs-7">好评率：100%</li>  
<li class="col-xs-5 padding0">专业能力：5.0</li><li class="col-xs-7">服务态度：5.0</li>  
<li>服务态度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
<li>完成速度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
<li>完成质量：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
</ul> 
</div> 
<div class="ad">
<a href="#"><img src="{$CssDir/}images/ad1.jpg" class="center-block img-responsive" alt="设计广告" /></a> 
<a href="#"><img src="{$CssDir/}images/ad2.jpg" class="center-block img-responsive" alt="设计广告" /></a>
<a href="#"><img src="{$CssDir/}images/ad3.jpg" class="center-block img-responsive" alt="设计广告" /></a>
</div> 
</div>
</div>
</div><!--user_main end-->
</div>
{ZL.Label id="全站底部"/}
</body>
</html>
<script>
var IO=document.getElementById('design_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
	".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
 if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
var msViewportStyle = document.createElement("style");
msViewportStyle.appendChild(
document.createTextNode(
  "@-ms-viewport{width:auto!important}"
)
);
document.getElementsByTagName("head")[0].
appendChild(msViewportStyle);
}
$().ready(function(e) {
    $("#topname").html("设计师作品列表");
	var gid='{ZL.Label id="抽取当前会员的会员组" /}';
	if(gid==2)
	{
		$(".option_btn .btn-danger").remove();
	}
	if('{SField sid="设计师数据源标签地址栏传参" FD="Inputer" page="0"/}'!='{ZL:GetuserName()/}')
		$(".option_btn .btn-info").remove();
	var type="{$GetRequest(type)$}"
	if(type=="1")
	{
		$(".user_main_l .nav li:nth-child(2)").addClass("active").siblings("li").removeClass("active");
		$("#profile").addClass("active").siblings(".tab-pane").removeClass("active");
	}
});

var allnum='{ZL.Label id="获取指定设计师评论总数" UserName="{SField sid="设计师数据源标签地址栏传参" FD="Inputer" page="0"/}" /}';
var haonum='{ZL.Label id="获取指定设计师好评数" UserName="{SField sid="设计师数据源标签地址栏传参" FD="Inputer" page="0"/}" /}';
if(allnum=="0")
	$("#haoping i").html("0%");
else
{
	var rate=parseFloat(parseFloat(haonum)/parseFloat(allnum)*100).toFixed(2);
	$("#haoping i").html(rate+"%");
}
</script>