{ZL.Source id="图库模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="图库模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="图库模型数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style>
#Menu{SField sid="图库模型数据源标签" FD="NodeID" page="0"/} a { background:#e7e7e7; max-width:inherit;}
.detail_context_pic{width:100%;margin-top:20px;margin-bottom:20px;overflow:hidden;}
.detail_context_pic_top{width:100%;overflow:hidden;text-align:center;position:relative;z-index:1;}
.detail_context_pic_bot{width:100%;}
.detail_picbot_mid{padding-bottom:13px;}
.detail_picbot_mid ul li{text-align:center;height:80px; margin-top:15px;}
.detail_picbot_mid ul li a{ display:block; width:100%; height:100%;}
.detail_picbot_mid ul li img{ width:100%; height:80px; }
#preArrow{left:0px;}
#nextArrow{right:0px;}
#preArrow_A{left:16px;background:url({$CssDir/}images/pic_left.png) 0px 0px no-repeat;display:none;}
#nextArrow_A{right:16px;background:url({$CssDir/}images/pic_right.png) 0px 0px no-repeat;display:none;}
.contextDiv{cursor:pointer;height:100%;width:50%;position:absolute;top:0px;z-index:5;background:url("blank") repeat;}
.contextDiv span{position:absolute;top:50%;width:39px;height:50px;}
.selectpic{border:2px solid red;}
#miaoshuwarp{position:relative;bottom:0;z-index:1;width:100%;text-align:left;}
.miaoshu{position:absolute;width:100%; padding:0 10px; bottom:0;height:30px; line-height:30px;color:White;font-size:14px;z-index:3;background:url({$CssDir/}images/bcgL.png) repeat-x; font-family:"宋体";}
.pics_title p { color:#999;}
.pics_title p span { margin-right:10px;}
.pics_border { margin-top:10px; margin-bottom:10px; padding-left:10px; padding-right:10px; border:1px solid #ddd;}
</style>
</head>
<body style="padding-top:50px;">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">{$SiteName/}</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="/">首页</a></li>
{ZL.Label id="蓝色经典_顶部节点列表" ParentID="0" ShowNum="7" /}
</ul>
<form class="navbar-form navbar-left" role="search" method="get" action="/Search/SearchList.aspx" target="_blank">
<div class="form-group">
<input type="text" class="form-control" name="keyword" placeholder="全站检索">
</div>
<button type="submit" class="btn btn-default">搜索</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li class="nav_user"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>登录 <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="/User/" target="_blank">用户登录</a></li>
<li><a href="/User/Register.aspx" target="_blank">用户注册</a></li>
<li><a href="/User/Info/UserInfo.aspx" target="_blank">注册信息</a></li>
<li><a href="/User/Logout.aspx" target="_blank">安全退出</a></li>
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container mySites">
<ol class="breadcrumb">
<li><a href="/">首页</a></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /}
<li class="active">{SField sid="图库模型数据源标签" FD="Title" page="0"/} </li>
</ol>
</div>
<div class="container">
<div class="pics_border" style="border:1px solid #ddd;">
<div class="pics_title">
<h1>{SField sid="图库模型数据源标签" FD="Title" page="0"/}</h1>
<p>发布时间：<span>{ZL:FormatDate({SField sid="图库模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd HH:mm:ss)/}</span>浏览次数：<span><script src="/Common/GetHits.aspx?id={SField sid="图库模型数据源标签" FD="GeneralID" page="0"/}"></script></span></p>
</div>
<div>
<!--图片轮换开始-->
<div class="modal fade" id="firsttop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel">图片播放完了</h4>
</div>
<div class="modal-body">您可以还需要....</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{ZL.Label id="上一个图库" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /}
</div>
</div>
</div>
</div>
<div class="modal fade" id="endtop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title" id="myModalLabel">图片播放完了</h4>
</div>
<div class="modal-body">您可以还需要....</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{ZL.Label id="下一个图库" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /}
</div>
</div>
</div>
</div>
<!--轮播过程-->
<div class="detail_context_pic">
<div class="detail_context_pic_top">
<a href="#"><img src="" alt="" id="pic1" curindex="0" /></a> <a id="preArrow" href="javascript:void(0)" class="contextDiv" title="上一张"><span id="preArrow_A"></span></a> <a id="nextArrow" href="javascript:void(0)" class="contextDiv" title="上一张"><span id="nextArrow_A"></span></a> 
<div id="miaoshuwarp">
<div class="miaoshu"></div>
</div>
</div>
<div class="detail_context_pic_bot">
<div class="detail_picbot_mid row" id="detail_picbot_mid">
<ul class="list-unstyled padding10"></ul>
<div class="clearfix"></div>
</div>
</div>
</div><!--图片轮换结束-->
<div class="clearfix"></div>
<div id="content_synopsis">
{SField sid="图库模型数据源标签" FD="Content" page="0"/}
</div>
<div class="padding10">
{ZL.Label id="点击复制网址代码"/}
</div>
<div id="about">
<span>相关文章</span>
<ul>
{ZL.Label id="相关文章列表输出" ShowNum="10" TitleNum="35" KeyWord="{SField sid="图库模型数据源标签" FD="Tagkey" page="0"/}" /}
</ul>
</div>
<div class="iframe_comm">
<iframe src="/Comments/CommentFor.aspx?ID={SField sid="图库模型数据源标签" FD="GeneralID"/}" width="100%" align="middle" height="100%" frameborder="0"></iframe>
</div>
</div>
</div>
</div>
{ZL.Label id="响应式全站底部"/}
</body>
</html>
<script>
var siteurl="{$UploadDir/}";
var firstpho="";
var photos='{SField sid="图库模型数据源标签" FD="PhotoUrl"/}';
var pho=photos.split("$");
var arrUrlName=new Array();
var arrUrl=new Array();
var str="";
var str1="";
for(i=0;i<pho.length;i++)
{
	
	arrUrlName[i]=pho[i].split("|")[0];
	if(pho[i].split("|")[1].indexOf("http://")==-1)
	{
		arrUrl[i]=siteurl+pho[i].split("|")[1];
	}
	else
	{
		arrUrl[i]=pho[i].split("|")[1];
	}
	str+="<li class=\"col-lg-1 col-md-2 col-sm-2 col-xs-3 padding5\"><a href=\"javascript:void(0);\"><img src=\""+arrUrl[i]+"\" alt=\""+arrUrlName[i]+"\" bigimg=\""+arrUrl[i]+"\" text=\""+arrUrlName[i]+"\" /></a></li>";
}
$("#detail_picbot_mid ul").html(str);
$().ready(function(e) {
$(function() {
	var firstpic = $(".detail_picbot_mid ul li").first().find("img");
	var firstsrc = firstpic.attr("bigimg");
	var firsttxt = firstpic.attr("text");
	$("#pic1").attr("src", firstsrc);
	firstpic.addClass("selectpic");
	$(".miaoshu").text(firsttxt);
	$("#preArrow").hover(function() {
		$("#preArrow_A").css("display", "block")
	}, function() {
		$("#preArrow_A").css("display", "none")
	});
	$("#nextArrow").hover(function() {
		$("#nextArrow_A").css("display", "block")
	}, function() {
		$("#nextArrow_A").css("display", "none")
	});
	function preclick() {
		var currrentindex = parseFloat($("#pic1").attr("curindex"));
		if (currrentindex != 0) {
			var curli = $(".detail_picbot_mid ul li").eq(currrentindex);
			var length = $(".detail_picbot_mid ul li").length;
			var curnextli = $(".detail_picbot_mid ul li").eq(currrentindex - 1);
			var curnextsrc = curnextli.find("img").attr("bigimg");
			var curnexttxt = curnextli.find("img").attr("text");
			curli.find("img").removeClass("selectpic");
			curnextli.find("img").addClass("selectpic");
			$("#pic1").attr("src", curnextsrc);
			$(".miaoshu").text(curnexttxt);
			$("#pic1").attr("curindex", currrentindex - 1)
		} else {
			$("#firsttop").modal("show");
		}
	}
	$("#preArrow_B").click(function() {
		preclick()
	});
	$("#preArrow").click(function() {
		preclick()
	});
	$("#nextArrow_B").click(function() {
		nextclick()
	});
	$("#nextArrow").click(function() {
		nextclick()
	});
	function nextclick() {
		var currrentindex = parseFloat($("#pic1").attr("curindex"));
		var length = $(".detail_picbot_mid ul li").length;
		if (currrentindex != (length - 1)) {
			var curli = $(".detail_picbot_mid ul li").eq(currrentindex);
			var curnextli = $(".detail_picbot_mid ul li").eq(currrentindex + 1);
			var curnextsrc = curnextli.find("img").attr("bigimg");
			var curnexttxt = curnextli.find("img").attr("text");
			curli.find("img").removeClass("selectpic");
			curnextli.find("img").addClass("selectpic");
			$("#pic1").attr("src", curnextsrc);
			$("#pic1").attr("curindex", currrentindex + 1);
			$(".miaoshu").text(curnexttxt)
		} else {
			$("#endtop").modal("show");
		}
	}
	$(".detail_picbot_mid ul li").click(function() {
		var currentliindex = $(this).index(".detail_picbot_mid ul li");
		$(".detail_picbot_mid ul li img[class='selectpic']").removeClass("selectpic");
		var currentli = $(".detail_picbot_mid ul li").eq(currentliindex);
		currentli.find("img").addClass("selectpic");
		var bigimgsrc = currentli.find("img").attr("bigimg");
		var curnexttxt = currentli.find("img").attr("text");
		$("#pic1").attr("src", bigimgsrc);
		$("#pic1").attr("curindex", currentliindex);
		$(".miaoshu").text(curnexttxt)
	});
});
});
</script>