{ZL.Source id="项目交图数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="项目交图数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<style>
.evalu_new_dl li { font-size:16px; margin-top:15px;}
.evalu_new_dl li a { color:#666;}
.evalu_new_dl li a:hover { color:#c00;}
</style>
</head>
<body>
{ZL.Label id="设计院头部"/}
<div class="mypeo_banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item mypeo_banner1 active">
<div class="carousel-caption"><a href="#">立即发表项目<span class="fa fa-play-circle-o"></span></a></div>
</div>
<div class="item mypeo_banner2">
<div class="carousel-caption"><a href="#">立即发表项目<span class="fa fa-play-circle-o"></span></a></div>
</div>
<div class="item mypeo_banner3">
<div class="carousel-caption"><a href="#">立即发表项目<span class="fa fa-play-circle-o"></span></a></div>
</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>


<div class="container" style="position:relative;">
{ZL.Label id="获取当前登录信息"/}
</div>
</div>
<div class="container">
<div class="evalu_new">
<h3><span class="pull-left">下载地址</span><a href="#" class="pull-right"><i class="glyphicon glyphicon-time"></i>催图</a><div class="clearfix"></div></h3>
<div class="evalu_new_dl">
<ul class="list-unstyled">
</ul>
<div class="checked_bott">
<a class="btn btn-default" href="/User/Content/AddMoney.aspx?ModelID=56&NodeID=40&GID={$GetRequest(GID)$}&SID={$GetRequest(SID)$}" role="button">满意确认付款</a>
<a class="btn btn-default" href="/User/Message/MessageSend.aspx?userid={ZL.Label id="根据会员名抽取用户ID" Uname="{SField sid="竞标方案数据源标签地址栏" FD="Inputer" page="0"/}" /}&title={$GetUrlencode(基本满意进行修改)$}&content={$GetUrlencode(基本满意进行修改)$}" target="_blank">基本满意进行修改</a>
<a class="btn btn-default" href="/User/Message/MessageSend.aspx?userid={ZL.Label id="根据会员名抽取用户ID" Uname="{SField sid="竞标方案数据源标签地址栏" FD="Inputer" page="0"/}" /}&title={$GetUrlencode(完全不满意)$}&content={$GetUrlencode(完全不满意)$}" target="_blank">完全不满意</a>
<a class="btn btn-success" href="javascript:history.go(-1);">返回上一页</a>
</div>
<div class="checked_bott">
</div>
</div>
</div>
</div>

{ZL.Label id="全站底部"/}
</body>
</html>
<script>

var IO=document.getElementById('design_nav'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
	".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
 if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
var msViewportStyle = document.createElement("style");
msViewportStyle.appendChild(
document.createTextNode(
  "@-ms-viewport{width:auto!important}"
)
);
document.getElementsByTagName("head")[0].
appendChild(msViewportStyle);
}
var title='{SField sid="项目交图数据源标签" FD="Title" page="0"/}';
var downurl='{SField sid="项目交图数据源标签" FD="szwj" page="0"/}';
if(downurl&&downurl!="")
{
	var downlist = JSON.parse(downurl);
	var dstr="";
	for(var i=0;i<downlist.length;i++)
	{
		dstr+="<li>"+title+"<a href=\"{$UploadDir/}"+downlist[i].url+"\" class=\"pull-right\" title=\""+title+"\"><i class=\"fa fa-download\"></i> 文件下载地址"+(i+1)+"</a></li>";
	}
	$(".evalu_new_dl ul").html(dstr);
}


var paystr='{SField sid="方案项目模型数据源标签地址栏" FD="fkxq" page="0"/}';
var paynum='{ZL.Label id="输出指定项目实际付款次数" /}';
var xmjd=(parseInt(paynum)+1);
if(paystr&&paystr!="")
{
	var paylist = JSON.parse(paystr);
	var str="";
	for(var i=1;i<paylist.length+1;i++)
	{
		if(i<=paynum)
			str+="<tr><td>第"+i+"次付款</td><td>"+paylist[i-1].paymoney+"%</td><td><i class=\"glyphicon glyphicon-ok-circle\"></i>已付款</td></tr>";
		else if(i==xmjd)
			str+="<tr><td>第"+i+"次付款</td><td>"+paylist[i-1].paymoney+"%</td><td><i class=\"glyphicon glyphicon-adjust\"></i>进行中</td></tr>"
		else
			str+="<tr><td>第"+i+"次付款</td><td>"+paylist[i-1].paymoney+"%</td><td><i class=\"fa fa-clock-o\"></i>未付款</td></tr>"
	}
	$("#table_pay").html(str);
	if(paystr>=(paynum+1))
	{
		$("#txt_fkje").val(paylist[paynum].paymoney)
	}
}
</script>